body {
    background-color:rgb(167, 167, 167);
    /*
    --SAME COLOR IN DIFFERENT NOTATIONS --
    #f1c394
    #fc9
    burlywood
    hsl(30,76,76)
    rgb(241,195,148)
    */
}

#cover-image {
    box-shadow: 0 0 .5em 0 black;
    transition: 0.3s;
}

.wide-title-container {
    position: absolute;
    width: 100%;
    top: 12vw;
    padding-left: 15vw;
    padding-right: 15vw;
}


#sub-title {
    color: black;
    text-shadow: 
    -.05em -.05em 2.5em white,
    .05em -.05em 2.5em white,
    -.05em .05em 2.5em white,
    .05em .05em 2.5em white,
    -.075em 0 2.5em white,
    .075em 0 2.5em white,
    0 -.075em 2.5em white,
    0 .075em 2.5em white;
}

.title {
    color: white;
    text-shadow: 
    -.05em -.05em 2.5em rgb(27, 27, 27),
    .05em -.05em 2.5em rgb(27, 27, 27),
    -.05em .05em 2.5em rgb(27, 27, 27),
    .05em .05em 2.5em rgb(27, 27, 27),
    -.075em 0 2.5em rgb(27, 27, 27),
    .075em 0 2.5em rgb(27, 27, 27),
    0 -.075em 2.5em rgb(27, 27, 27),
    0 .075em 2.5em rgb(27, 27, 27);
}



/* TITLES */

#popular-title {
    margin: 3em 0em 1em 0em;
    font-weight: bold;
}


/* TRAIN SCHEDULE TABLE */


#schedule {
    margin-top: 2em;
}

#column-headers {
    font-weight: bold;
}

.contact-icons {
    height: 2em;
    margin: .5em;
    opacity: .5;
}

.contact-icons:hover {
    /* height: 2.1em; */
    transform: scale(1.1);
    margin: .5em;
    opacity: 1;
}

.footer {
    justify-content: center;
    text-align: center;
}
